/* 
CÁC PHẦN ĐƯỢC CSS
Note: Bấm phím tìm kiếm ctrl + F
Mục 1: Phần chung
Mục 2: Header
Mục 3: Footer
Mục 4: Section Home
Mục 5: Bài viết
Mục 6: Aside
Mục 7: 404
Mục 8: Page About
Mục 9: Media Ipad
Mục 10: Phone
*/



/* ___________

Mục 1: Phần chung
_________________*/

html,
body {
    font-family: sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}

a {
    text-decoration: none;
}

header a,
footer a {
    color: unset;
}

.dn-container {
    max-width: 1200px;
    margin: 0 auto;
}

.dn-flex {
    display: flex;
}

.dn-wrap-full {
    flex-wrap: wrap;
}

section {
    position: relative;
    background-color: #f5f5f5;
}

.width-2,
.width-3,
.width-4 {
    margin-left: 10px;
    margin-right: 10px;
}

.width-2 {
    width: 46%;

}

.width-3 {
    width: 30%;
}
.container-box{
    padding: 30px 0;
}
.entry-comment::before,
.tag-box a::after {
    background-color: #ccc;
    border-radius: 50%;
    color: #aaa;
    content: " ";
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    left: -4px;
    top: 4px;
}

.tag-box a {
    display: inline-block;
    background: #697e96;
    height: 2em;
    line-height: 1em;
    padding: 0.5em;
    color: #fff;
    position: relative;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.tag-box a::before {
    border-top: 1em solid transparent;
    border-right: 12px solid #697e96;
    border-bottom: 1em solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
}

.tag-box a::after {
    top: 35%;
}

.tag-box a {
    margin-top: 5px;
}

.dn-row {
    padding: 30px 0;
}

/* ___________

Mục 2: Header
_________________*/
.header-top {
    background-color: #697e96;
}

.dn-column-wrapper li {
    list-style-type: none;
}

.header-top div.dn-column-wrapper,
div.left-content ul,
div.right-content ul {
    color: #f5f5f5;
    height: 40px;
    line-height: 30px;
}

div.dn-column-wrapper {
    justify-content: space-between;
}

div.left-content li {
    margin-right: 20px;
    padding: 5px 0;
}

div.right-content li {
    margin-left: 20px;
    padding: 5px 0;
}

@media (max-width: 1200px) {
    .dn-container {
        padding: 0 1%;
        width: 98%;
    }
}

.header-container {
    position: relative;
}

.header-bottom {
    background-color: #41d9bc;
    box-shadow: 1px 2px 2px #bfd1ce;
}

.header-bottom a {
    color: #49596B;
    display: block;
}

.header-bottom div.dn-column-wrapper {
    height: 80px;
    color: #49596B;
}

div.logo a {
    flex-direction: column;
    padding: 20px 0;
    display: flex;
}

div.logo .name-logo {
    font-size: 1.5em;
    font-weight: 600;

}

div.logo .slogan {
    font-size: 0.9em;
}

div.menu-navigation {
    margin-right: 50px;
}

div.menu-navigation a {
    text-transform: uppercase;
    font-size: .9em;
    padding: 0 10px;
}

div.menu-navigation>ul>li>a {
    line-height: 80px;
    position: relative;
}

div.menu-navigation a:hover {
    background-color: #fffefe;
    color: #41d9bc;
}

div.menu-navigation li:last-child {
    padding-right: 0;
}

div.menu-navigation li:hover .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    z-index: 10;
    background-color: #41d9bc;
    display: none;
}

.sub-menu a {
    border-bottom: 1px solid #fdfdfdfb;
    line-height: 50px;
}

.menu-phone {
    display: none;
    font-size: 3em;
    width: 50px;
    text-align: center;
    line-height: 80px;
}

.icon-search {
    position: absolute;
    top: 30px;
    right: 15px;
    line-height: 70px;
    font-size: 24px;
    cursor: pointer;
}

.form-search {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 1;
}

.form-search input.search-field {
    height: 45px;
    width: 280px;
    padding-left: 20px;
    background-color: #49596B;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.2em;
}

.form-search input.search-field::placeholder {
    color: #fff;
}

.drawer-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3;
    visibility: hidden;
}
.nav-menu-phone{
    display: none;
}
/* ___________

Mục 3: Footer
_________________*/
footer {
    background-color: #41d9bc;
    color: #49596B;
    box-shadow: 1px -1px 0.75px #dadada
}

.top-footer {
    padding: 50px 0 30px;
}

.top-footer .footer-column {
    justify-content: space-between;
}

.left-content-footer ul {
    flex-direction: column;
}

.left-content-footer ul {
    list-style-type: none;
    text-transform: uppercase;
    line-height: 2em;
}

.left-content-footer a {
    display: block;
}

.right-content-footer input[type="submit"],
.right-content-footer label {
    text-transform: uppercase;
}

.right-content-footer input {
    height: 40px;
    border: none;
}

.right-content-footer input[type="text"] {
    width: 300px;
    padding-left: 20px;
}

.right-content-footer input[type="submit"] {
    width: 100px;
    padding: 5px;
}

.right-content-footer label {
    padding-bottom: 20px;
    display: block;
}

.bot-footer {
    padding: 10px 0;
    font-size: 0.9em;
}

/* ___________

Mục 4: Section Home
_________________*/
section {
    /* padding-bottom: 30px; */
}

.container-box .dn-box {
    box-shadow: 0px 2px 4px #d0c2c299;
    background: #fff;
    margin-top: 30px;
}

.container-box .width-3:nth-of-type(-n + 3){
    margin-top: 0;
}
/* .container-box .dn-box:nth-of-type(2n+1){
    margin-left: 0;
    margin-right: 4%;
} */
.img-box {
    height: 155px;
}
.img-box img {
    width: 100%;
    height: 100%;
}

.middle-box,
.bot-box {
    padding: 0 20px;
    margin: 15px 0;
}

.title-box,
.time-box {
    padding: 5px 0;
}
.title-box a{
    color: #16d6b3;
    font-family: 'Segoe UI';
    
}
.content-box,
.tag-box {
    padding: 5px 0;
}

.content-box {
    text-align: justify;
    line-height: 1.5em;
}
.content-box p{
    text-indent: 1.5em;
    padding: 8px 0;
}
.content-box code{
    border: solid 1px #e4e4e4;
    padding: 4px 4px 1px;
    background: #f5f7f8;
    font-size: 14px;
    border-radius: 3px;
}
.time-box {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.time-box a {
    color: #707070;
}

.tag-box {
    font-size: .9em;
}

.entry-comment {
    position: relative;
    margin-left: 11px;
    padding-left: 15px;
}

.detail-box a {
    color: #16d6b3;
    display: block;
    height: 2em;
    width: 120px;
    padding: 0.5em;
    line-height: 1em;
    border: 1px solid #16d6b3;
    text-align: center;
}

.detail-box a:hover {
    background-color: #16d6b3;
    color: rgb(255, 250, 250);
    font-weight: 700;
}
.pagination-page{
    text-align: center;
    width: 100%;
}
.ytb-video{
    background: #fff;
    margin: 20px 0;
}
.ytb-video-container{
    padding: 20px 0;
}
h2.ytb-video-title, h3.ytb-video-des{
    text-align: center;
    line-height: 1.5em;
}
h2.ytb-video-title{
    font-family: 'Segoe UI';
    color: #388dbc;
}
h3.ytb-video-des{
    font-weight: 500;
    font-size: 1em;
    color: #525353;
}
/* ___________

Mục 5: Bài viết
_________________*/
.article {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}

.content-left,
.content-right {
    background-color: #fff;
    padding: 25px;
}

.content-left {
    width: calc(100% - 380px);
}

.content-right {
    width: 370px;
    max-height: 800px;
}

.arcticle-top-box {
    /* margin-bottom: 20px; */
}

/* ___________

Mục 6: Aside
_________________*/

div.widget_recent_entries h3 {
    text-align: center;
}

div.widget_recent_entries ul {
    display: flex;
    flex-direction: column;
}

div.widget_recent_entries li {
    list-style-type: none;
    margin-top: 10px;
}

div.widget_recent_entries a {
    display: flex;
    flex-flow: row nowrap;
    color: #49596B;
}

.recent-post-content {
    padding-left: 10px;
}

.recent-post-image {
    width: 40%;
    max-width: 80px;
    height: auto;
    background-size: cover;
    background-position: center;
}

.recent-post-title {
    min-height: 30px;
    padding-top: 5px;
}

div.widget_recent_entries a span {
    display: block;
}

/* ___________

Mục 1: Phần chung
_________________*/

/* ___________

Mục 1: Phần chung
_________________*/

/* ___________

Mục 1: Phần chung
_________________*/

/* ___________

Mục 1: Phần chung
_________________*/

/* ___________

Mục 8: Page About
_________________*/
.page-about {
    background: #fff;
    box-shadow: 0px 0px 3px 2px #f2f0f0;
}

.positon-job,
.company-job,
.page-about h3 {
    font-family: 'Segoe UI';
    font-weight: 600;
}

.intro-name,
.exp-jobs,
.skill-jobs,
.contact-jobs {
    padding: 10px 0;
}

div.intro-name {
    display: flex;
    padding: 0 240px;
}

div.intro-name .content-name {
    padding: 20px;
}

div.intro-name h3:last-of-type {
    padding-bottom: 15px;
}

div.intro-name span {
    display: block;
    padding-bottom: 30px;
    color: #0d1010;
    text-align: justify;
}

.page-about>div>h3 {
    text-align: center;
    font-size: 40px;
    color: #16d6b3;
}

/* ------------------ EXP ABOUT // START---------------------*/
div.exp-jobs ul {
    list-style: none;
    position: relative;
    margin: 0 130px;
}

div.exp-jobs ul li {
    margin: 60px;
    margin-right: 0;
    position: relative;
}

div.exp-jobs ul li:first-of-type {
    margin-top: 30px;
}

div.exp-jobs ul li:last-of-type {
    margin-bottom: 30px;
}

div.exp-jobs ul::before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    border: 2px dashed #e4e4e4;
}

div.exp-jobs li::before {
    position: absolute;
    content: '';
    width: 0;
    left: -60px;
    height: 100%;
    border: 2px solid #686969;
}

span.circle::before,
span.circle::after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: -65px;
    border: 1px solid #16d6b3b6;
    background: #16d6b3;
}

span.circle::after {
    top: 96%;
}

span.circle::before {
    top: -4%;
}

span.time-job span {
    position: absolute;
    display: block;
    left: -130px;
    color: #0420cc;
}

span.time-job span:first-of-type {
    top: -4%;
}

span.time-job span:last-of-type {
    top: 94%;
}

.content-job {
    color: #505151;
    text-align: justify;
}

.company-job {
    margin-bottom: 10px;
    color: #388dbc;
}

.company-job::after {
    content: "";
    position: absolute;
    width: 40px;
    border: 2px solid #41d9bc;
    left: 0;
    top: 45px;
}


/* ------------------ EXP ABOUT // END---------------------*/

/* ------------------ SKILLS ABOUT // START---------------------*/
div.skill-jobs .skill-technical {
    width: 600px;
    margin: 0 auto;
}

.skill-container span {
    display: block;
}

.skill-container .name-skill {
    width: 80px;
    margin-right: 10px;
}

div.skill-jobs .skill-container {
    text-align: right;
    margin: 10px 0;
    display: flex;
}

div.skill-jobs .skills {
    width: 100%;
    height: 1em;
    border-radius: 5px;
    background-color: #c2c7c7;
}

.skills span {
    height: 100%;
    background-color: #16d6b3;
    border-radius: 5px;
    padding-right: 10px;
    color: #fff;
}

.css span {
    width: 80%;
}

.js span {
    width: 70%;
}

.php span {
    width: 75%;
}

.nodejs span {
    width: 65%;
}

/* ------------------ SKILLS ABOUT // END---------------------*/

/* ------------------ FORM ABOUT // START---------------------*/
.contact-jobs {
    margin: 0 240px;
}

#about-form .input-required {
    display: flex;
}

#about-form .input-unrequired {
    padding: 10px;
}

#about-form .form-input,
#about-form .form-textarea {
    border: 1px solid #16d6b3;
    outline: none;
}

#about-form .form-input:focus,
#about-form .form-textarea:focus {
    border: 1px solid #03856d;
}

#about-form .form-input {
    margin: 10px;
    height: 36px;
    flex-grow: 1;
    padding: 0 20px;
}

#about-form .form-textarea {
    width: 100%;
    height: 120px;
    padding: 20px;
    font-family: Arial;
}

.form-submit {
    margin: 10px;
    border: 1px solid #16d6b3;
    width: 120px;
    height: 36px;
    background: #16d6b3;
    color: #fff;
    font-size: 1.2em;
}

.form-submit:hover {
    background: #fff;
    color: #16d6b3;
    cursor: pointer;
}

/* ------------------FORM ABOUT // END---------------------*/
/* ___________

Mục 1: 404
_________________*/
#notfound {
    position: relative;
    height: 70vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 560px;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
}

.notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 140px;
    height: 140px;
    background-image: url('../images/emoji.png');
    background-size: cover;
}

.notfound .notfound-404:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(2.4);
    -ms-transform: scale(2.4);
    transform: scale(2.4);
    border-radius: 50%;
    background-color: #f2f5f8;
    z-index: -1;
}

.notfound h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #151723;
    text-transform: uppercase;
}

.notfound h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #151723;
}

.notfound p {
    font-family: 'Nunito', sans-serif;
    color: #999fa5;
    font-weight: 400;
}

.notfound a {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    font-weight: 700;
    border-radius: 40px;
    text-decoration: none;
    color: #388dbc;
}


/* ___________

Mục 9: Media Ipad
_________________*/
@media screen and (min-width: 480px) and (max-width: 780px) {


    /* ___________

    Mục 4: Section Home
    _________________*/
    div.logo .slogan {
        font-size: 10px;
    }

    .width-3 {
        width: 47%;
    }
}

/* ___________

Mục 10: Phone
_________________*/
@media only screen and (max-width: 480px) {
    .disable-overflow {
        overflow: hidden;
    }

    .drawer-backdrop-show {
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.25,.8,.25,1);
        transition-property: background-color,visibility;
        visibility: visible;
        background-color: rgba(0, 0, 0, .6);
    }

    .width-3 {
        width: 100%;
    }

    .icon-search {
        display: none;
    }

    /* ___________

    Mục 1: Header
    _________________*/
    .header-top,
    .menu-navigation {
        display: none;
    }

    .menu-phone {
        display: block;
    }

    .nav-menu-phone {
        width: 60%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: -5px;
        box-shadow: 1px 4px 3px #686969;
        background-color: #fff;
        color: #fff;
        z-index: 9;
    }
    .nav-fixed{
        position: fixed;
        z-index: 9;
        width: 100%;
    }
    /* ___________

    Mục 4: Section
    _________________*/
    /* ___________

    Mục 3: Footer
    _________________*/
    footer {
        padding: 0 10px;
    }

    .top-footer .footer-column {
        flex-direction: column;
    }

    .left-content-footer {
        margin-bottom: 20px;
    }

    .right-content-footer input[type="text"] {
        margin-bottom: 10px;
    }

    .right-content-footer span {
        text-align: center;
    }
}